head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  block title
    title Default title
  // Bootstrap core CSS
  link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
  // Custom styles for this template
  link(href='stylesheets/sticky-footer-navbar.css', rel='stylesheet')