//LOGIN

.login-header {
  align-items: center;
  border-bottom: 2px solid $primary-color;
  display: flex;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}


// WEATHER
.weather-info{
  align-items: center;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.weather-gift{
  max-width: 300px;
  width: 30%;
}
.gift{
  width: 100%;
}
