// -------   COLORS    ------- //

$background: #fbfbec;
$primary-color: #106302;
$secondary-color: #052001;


//------    TEXT     -------//

$font: 'Raleway', sans-serif;
$title-font: 'Amatic SC', cursive;
