* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6,
p {
  margin: 0; }

.weather-info {
  align-items: center;
  display: flex;
  justify-content: space-around; }

.weather-gift {
  width: 30%; }

.gift {
  width: 100%; }

body {
  font-family: "Raleway", sans-serif;
  padding: 20px; }
