head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  block title
    title title
  // Bootstrap core CSS
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', 
        rel='stylesheet',
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
        crossorigin="anonymous")
  // Custom styles for this template
  link(href='stylesheets/styles.css', rel='stylesheet')
  link(href='https://use.fontawesome.com/releases/v5.0.2/css/all.css', rel='stylesheet')