header
  // Fixed navbar
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.logo.navbar-brand(href='/') FAV FILMS
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/films')
            | Mis filmes 
            span.sr-only
      .search
        input.search-input(type='text', placeholder='Search', aria-label='Search')
        .films-list-select
          ul.films-list