html(lang='en')
  include includes/head.pug
  body
    include includes/navbar.pug
    // Begin page content
    main.app-container.container
      block content
    .notification-wrapper
    script(src='javascripts/scripts.js')
    