html(lang='en')
  include includes/head.pug
  body
    include includes/navbar.pug
    // Begin page content
    main.app-container.container
      block content
    .notification-wrapper
    script(src='https://www.gstatic.com/firebasejs/4.12.1/firebase.js')
    script(src='javascripts/scripts.js')
    