//Font variables
$dark-grey: #616161;
$blue: #00bfa5;

a.logo.navbar-brand {
  color: $blue;
  font-weight: bold;
  font-size: 38px;
}

body {
  background-color: $dark-grey;
}

.search {
    display: flex;
}

.btn-outline-success {
    color: $blue;
    border-color: $blue;
}
  
.container {
  margin-top: 100px;
}