//Font variables
$dark-grey: #616161;
$blue: #00bfa5;

$notification-soft-grey: #fafafa;
$notification-dark-grey: #37474f;

a.logo.navbar-brand {
  color: $blue;
  font-weight: bold;
  font-size: 38px;
}

body {
  background-color: $dark-grey;
}

.search {
  position: relative;
}

.search-input {
  width: 400px;
}

.films-list-select {
  left: 0;
  top: 30px;
  position: absolute;
  border-bottom: 4px solid #00bfa5;
  width: 100%;
  transition: height .5s;
  background-color: #fdfcfc;
  height: 0px;
  overflow: hidden;
  overflow-y: scroll;
}

.films-list {
  margin: 0;
  padding: 10px;
  background-color: white;
}

.films-list__item {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 1px #e6e6e6;
  border-right: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 10px;
  
  &:hover {
    border-right: 4px solid #00bfa5;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.films-list__item-mask {
  position: absolute;
  width: 95%;
  background-color: transparent;
  height: 70px;
  z-index: 300;
}

.films-list__item-image {
  height: 70px;
}

.films-list__item-title {
  margin-left: 10px;
}

.btn-outline-success {
  color: $blue;
  border-color: $blue;
}
  
.container {
  margin-top: 100px;
}

.main-title {
  color: #FFF;
}

.cards-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards-list__item {
  flex: 1 1 20%;
  margin: 16px;
  max-width: 245px;
}  

.cards-list__content {
  position: relative;
}

.cards-list__image {
  width: 100%;
}

.cards-list__datas {
  position: absolute;
  bottom: 0;
  background-color: rgba(24, 30, 76, .7);
  width: 100%;
  color: #FFFFFF;
  padding: 10px;
}

.title {
  font-size: 20px;
}

.year {
  font-size: 12px;
  border-left: 3px solid #FFF;
  padding-left: 5px;
}

.cards-list__actions {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  background-color: #00bfa5;
  font-size: 20px;
  color: #FFFFFF;
  
  i {
    cursor: pointer;
  }
}

//Notification component

.notification-wrapper {
  width: 400px;
  height: 100px;
  position: fixed;
  z-index: 9999;
  top: 85px;
  right: 15px;
  overflow-x: hidden;
}

.notification {
  padding: 15px;
  background-color: $notification-soft-grey;
  border-left: 5px solid;
  color: $notification-dark-grey;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  transition: all 0.5s;
  opacity: 0;
  right: -400px;
  
  p {
    margin: 0;
    padding: 0;
  }
}

.notification--success {
  background-color: #c5e1a5;
  color: #33691e;
}

.notification--error {
  background-color: #ffcdd2;
  color: #b71c1c;
}

.notification--info {
  background-color: #ffe082;
  color: $notification-dark-grey;
  border-left:5px solid #ffa000;
}

.notification--in {
  opacity: 1;
  right: 0;
}

.notification--out {
  opacity: 0;
}