/*LAYOUT*/
ul{
    list-style: none
}


.jumbotron{
    background: #475577;     
    color: #EFEFEF;
}

.box-50{
    display: inline-block;
    float: left;
    height: 100vh;
    width: calc(50% - 0px);
}


.box-map{

}
.box-map iframe{
    height: 100vh;
}

.box-selection{
    background: #f4f5fa; 
    color: #2a5089;
}

.login{
    bottom: 0;
    position: absolute;
    width: 50%;    
}

.login ul{
    padding-left: 0;
    width: 100%;
}

.login ul li{
    background: #ff1e00;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;    
    width: calc(50% - 0px);
}
.login ul li:last-child{
    background: #15151e;
}
.login ul li a{
    color: #FFF;
}


.box-logo{
    background: url(images/logo.png) center center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 6%;
    margin: 5% 0;    
    width: 100%;
}

.box-tabs{
    padding: 0 20px;
}



/*RESPONSIVE Mobile version -  1024*/
@media screen and (max-width: 1024px) {
    
}


/*RESPONSIVE Mobile version -  768*/
@media screen and (max-width: 767px) {
    .box-50{
        height: auto;
        width: calc(100% - 0px);
    }    
    .box-map iframe{
        height: auto;
    }
    
}