/*LAYOUT*/
body {
    background-color: #f4f5fa;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none
}


.main-container {
    flex-grow: 5;
    display: flex;
    height: calc(100vh - 525px);  
}


.login{
    bottom: 0;
    height: 40px;
    position: absolute;
    right: 0;
    width: 20%;
}

.login ul{
    padding-left: 0;
    width: 100%;
}

.login ul li{
    background: #ff1e00;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;    
    width: calc(50% - 0px);
}
.login ul li:last-child{
    background: #15151e;
}
.login ul li a{
    color: #FFF;
}

.box-logo{
    background: url(images/logo.png) top center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 70px;
    top: 30px;
}





.box-selection{
    background: #f4f5fa; 
    color: #2a5089;
    position: relative;
}


.box-left {
    position: relative;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}
.nav-tabs{
}
.nav-tabs>li{
    float: none;
    width: calc(33% - -1px);
    display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: #ff1e00;
    color: #FFF;
    height: 100%;
    border: 0 none;
    border-radius: 0;    
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    background: #15151e;
    color: #FFF;
    height: 100%;
    border: 0 none;
    border-radius: 0;    
}


.box-data{
    margin-top: 80px;
    width: 580px;
    position: relative;
    left: 50%;
    margin-left: -290px;
}
.list-data{
    display: none;
    text-align: left;    
    margin-top: 20px;
}

.list-data li{
    font-size: 20px;
    margin-bottom: 10px;
}

.list-data li span:first-child{
    font-weight: bold;
    
}



/*RESPONSIVE Mobile version -  1024*/
@media screen and (max-width: 1024px) {
    
}


/*RESPONSIVE Mobile version -  768*/
@media screen and (max-width: 767px) {
    .box-50{
        height: auto;
        width: calc(100% - 0px);
    }    
    .box-map iframe{
        height: auto;
    }
    
}