/*LAYOUT*/
body {
    background-color: #f4f5fa;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;    
}

ul{
    list-style: none
}


.main-container {
    /*background: #f4f5fa;*/
    background: rgba(00,00,00,.5);
    display: inline-block;
    /*height: calc(100vh - 525px);  */
    height: 100vh;
    position: absolute;    
    width: 30%;
    left: 0;
}

.box-map{
    display: inline-block;
    float: left;    
    width: 100%;
}




.login{
    bottom: 0;
    height: 40px;
    position: absolute;
    right: 0;
    width: 100%;
}
.login ul{
    padding-left: 0;
    width: 100%;
}

.login ul li{
    background: #ff1e00;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;    
    width: calc(50% - 0px);
}
.login ul li:last-child{
    background: #15151e;
}
.login ul li a{
    color: #FFF;
}

.box-logo{
    background: url(../images/logo.png) center center no-repeat;
    background-size: 40%;
    display: inline-block;
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}




.box-selection{
    background: #f4f5fa; 
    color: #2a5089;
    position: relative;
}


.box-left {
    position: relative;
    text-align: center;
    width: 100%;
}
.nav-tabs{
}
.nav-tabs>li{
    float: none;
    width: calc(32% - 0px);
    display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: #ff1e00;
    color: #FFF;
    height: 100%;
    border: 0 none;
    border-radius: 0;    
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    /*background: #15151e;*/
    background: #FFF;
    color: #15151e;
    height: 100%;
    border: 0 none;
    border-radius: 0;    
}


.box-data{
    margin-top: 80px;
}
.list-data{
    display: none;
    text-align: left;    
    margin-top: 20px;
}

.list-data li{
    font-size: 20px;
    margin-bottom: 10px;
}
.list-data li span{
    color: #FAFAFA;
}

.list-data li span:first-child{
    font-weight: bold;
    
}

.list-results{
    text-align: left;    
    margin-top: 20px;
}

.list-results li{
    font-size: 20px;
    margin-bottom: 10px;
}

.list-results li h3{
    font-weight: bold;
    
}





/*RESPONSIVE Mobile version -  1024*/
@media screen and (max-width: 1024px) {
    
}


/*RESPONSIVE Mobile version -  768*/
@media screen and (max-width: 767px) {
    .box-50{
        height: auto;
        width: calc(100% - 0px);
    }    
    .box-map iframe{
        height: 400px;
    }
    
}